[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 ="2.8"
SQLAlchemy = "1.3.13"
wget = "*"
pandas = "*"

[requires]
python_version = "3.7"
